svg {
  stroke-width: 2;
  stroke: black;
}

/* ------- m2 -------*/
.m2 {
  fill: #EEE;
  stroke: gray;
}
.m2.n-1 rect{
  fill: none;
  stroke: gray;
}
.m2 text {
  font-size:4em;
  fill:gray;
  stroke:none;
  text-anchor: middle;
}

/* ------- les murs principaux -------*/
.walls {
  stroke: black;
  stroke-width: 3;
  fill : none;
}
.walls.ext{
  fill: white;
  fill-opacity: .7;
}

/* ------- les salles -------*/
.room {
  fill:#BFB;
  opacity:1;
}
.room.isnotok{
  fill:#BFB;
  opacity:.1;
}
.room.isok {
  fill:#FBB;
  opacity:1;
}

/* ------- les partie non accessibles -------*/
.useless .room{
  fill: #EEE;
}
.useless .room.isnotok{
  opacity:.1;
}

/* ------- les portes -------*/
.door {
  stroke: darkGray;
}
.door .arc {
  fill: white;
  stroke-width: 1;
}
.door .front {
  stroke-width: 3;
}

/* ------- les escaliers -------*/
.stairs {
  fill: none;
  stroke: black;
  stroke-width: 1;
}
.stairs rect, .stairs path {
  vector-effect:non-scaling-stroke;
}
.stairs rect {
  stroke-width: 1;
  stroke: black;
}
.stairs .updown {
  stroke-width: 1;
  stroke: black;
}

/* ------- noms des pièces -------*/
.room-name {
  fill:#444;
  stroke:none;
  font-size: 10px;
  text-anchor: middle;
}
.room-name .main-name {
  fill:black;
  font-weight: bold;
  font-size: 11px;
}
.room-name .room-number {
  fill:black;
  font-size: 10px;
}
